#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
    border: 1px solid black;
}

.grid-item {
    width: 6.25%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: white;
    transition: background-color 0.1s;
}

.hovered {
    background-color: #333;
}